ul li{
  height: 50px;
  width: 200px;
  list-style: none;
  display: inline-block;
}

ul li:hover {
  opacity: 0.25;
}
a:link {
    text-decoration: none;
}
body {
  background-color: blue;
}

.red-background {
  background-color: red;
  color: yellow;
}
